<p id="notice"><%= notice %></p>

<p>
  <strong>Starts:</strong>
  <%= @event.starts_at.to_s %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @event.stops_at.to_s %>
</p>


<p>
  <strong>Customer:</strong>
  <%= Customer.find_by_id(@event.customer_id).first_name %> <%= Customer.find_by_id(@event.customer_id).last_name %>
</p>
<p>
  <strong>Therapist:</strong>
	<%= Therapist.find_by_id(@event.therapist_id).nick_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= Location.find_by_id(@event.location_id).name %>
</p>

<p>
  <strong>Room:</strong>
	<%= Room.find_by_id(@event.room_id).name %>
</p>

<p>
  <strong>Service:</strong>
  <%= Service.find_by_id(@event.service_id).name %>
</p>

<p>
  <strong>Walkin:</strong>
  <%= @event.walkin %>
</p>

<p>
  <strong>Cancel:</strong>
  <%= @event.cancel %>
</p>

<p>
  <strong>Cancel reason:</strong>
  <%= @event.cancel_reason %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
